In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as soup
import requests
from selenium import webdriver
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:
url = 'https://www.iplt20.com/stats/2021/most-runs'
s = Service("C:\\Users\\risha\\Downloads\\Compressed\\chromedriver_win32_2\\chromedriver.exe")
driver = webdriver.Chrome(service=s)

In [3]:
driver.get(url)
driver.maximize_window()

In [35]:
thead = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr[1]')

In [63]:
tit = []
for i in thead:
    tit.append(i.text)
tit

['POS Player Mat Inns NO Runs HS Avg BF SR 100 50 4s 6s']

In [50]:
thead2 = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[2]')

In [51]:
player = []
for i in thead2:
    player.append(i.text)
player

['Jos Buttler',
 'K L Rahul',
 'Quinton De Kock',
 'Hardik Pandya',
 'Shubman Gill',
 'David Miller',
 'Faf Du Plessis',
 'Shikhar Dhawan',
 'Sanju Samson',
 'Deepak Hooda',
 'Liam Livingstone',
 'David Warner',
 'Abhishek Sharma',
 'Ishan Kishan',
 'Rahul Tripathi',
 'Shreyas Iyer',
 'Tilak Varma',
 'Aiden Markram',
 'Devdutt Padikkal',
 'Ruturaj Gaikwad',
 'Nitish Rana',
 'Virat Kohli',
 'Rishabh Pant',
 'Andre Russell',
 'Rajat Patidar',
 'Dinesh Karthik',
 'Wriddhiman Saha',
 'Shimron Hetmyer',
 'Nicholas Pooran',
 'Suryakumar Yadav',
 'Glenn Maxwell',
 'Shivam Dube',
 'Prithvi Shaw',
 'Ambati Rayudu',
 'Rohit Sharma',
 'Yashasvi Jaiswal',
 'Jonny Bairstow',
 'Devon Conway',
 'Mitchell Marsh',
 'Rovman Powell',
 'Moeen Ali',
 'Jitesh Sharma',
 'MS Dhoni',
 'Robin Uthappa',
 'Shahbaz Ahmed',
 'Rahul Tewatia',
 'Kane Williamson',
 'Bhanuka Rajapaksa',
 'Mayank Agarwal',
 'Ravichandran Ashwin',
 'Tim David',
 'Riyan Parag',
 'Krunal Pandya',
 'Axar Patel',
 'Venkatesh Iyer',
 'Rinku Singh',
 'Sam Billings',
 'Dewald Brevis',
 'Ayush Badoni',
 'Lalit Yadav',
 'Matthew Wade',
 'Marcus Stoinis',
 'Sai Sudharsan',
 'Kieron Pollard',
 'Ajinkya Rahane',
 'Anuj Rawat',
 'Shardul Thakur',
 'Shahrukh Khan',
 'Ravindra Jadeja',
 'Abhinav Manohar',
 'Washington Sundar',
 'Rashid Khan',
 'Sarfaraz Khan',
 'Manish Pandey',
 'Mahipal Lomror',
 'Aaron Finch',
 'Rahul Chahar',
 'Evin Lewis',
 'Sunil Narine',
 'Shashank Singh',
 'Suyash S Prabhudessai',
 'Pat Cummins',
 'Jaydev Unadkat',
 'Romario Shepherd',
 'Jason Holder',
 'Umesh Yadav',
 'Odean Smith',
 'Kagiso Rabada',
 'Kuldeep Yadav',
 'Priyam Garg',
 'Ramandeep Singh',
 'Dwaine Pretorius',
 'Dushmantha Chameera',
 'Harshal Patel',
 'Hrithik Shokeen',
 'Trent Boult',
 'Jagadeesan Narayan',
 'Daniel Sams',
 'Wanindu Hasaranga',
 'Rishi Dhawan',
 'Daryl Mitchell',
 'Sherfane Rutherford',
 'James Neesham',
 'Mohammed Siraj',
 'Tim Seifert',
 'Bhuvneshwar Kumar',
 'Mohsin Khan',
 'Dwayne Bravo',
 'Sheldon Jackson',
 'Avesh Khan',
 'Rassie van der Dussen',
 'Harpreet Brar',
 'Mitchell Santner',
 'Arshdeep Singh',
 'B Indrajith',
 'Manan Vohra',
 'Vijay Shankar',
 'Mandeep Singh',
 'Josh Hazlewood',
 'David Willey',
 'Karun Nair',
 'Simran Singh',
 'Anmolpreet Singh',
 'Murugan Ashwin',
 'Varun Chakaravarthy',
 'Chris Jordan',
 'Rajangad Bawa',
 'Shreyas Gopal',
 'Marco Jansen',
 'Obed McCoy',
 'Srikar Bharat',
 'Fabian Allen',
 'Sean Abbott',
 'Rasikh Salam',
 'Kartik Tyagi',
 'Maheesh Theekshana',
 'Simarjeet Singh',
 'Ripal Patel',
 'Mukesh Choudhary',
 'Prasidh Krishna',
 'Aman Khan',
 'Lockie Ferguson',
 'Alzarri Joseph',
 'Yuzvendra Chahal',
 'Vaibhav Arora',
 'Prerak Mankad',
 'Karan Sharma',
 'Abdul Samad',
 'Abhijeet Tomar',
 'Umran Malik',
 'Mustafizur Rahman',
 'Kumar Kartikeya Singh',
 'Shivam Mavi',
 'Harshit Rana',
 'Navdeep Saini',
 'Tristan Stubbs',
 'Pradeep Sangwan',
 'Fazalhaq Farooqi',
 'Jagadeesha Suchith',
 'Tim Southee',
 'Nathan Coulter-Nile',
 'Anrich Nortje']

In [48]:
thead3 = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[3]')
mat = []
for i in thead3:
    mat.append(i.text)
mat

['17',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '14',
 '17',
 '15',
 '14',
 '12',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '17',
 '14',
 '14',
 '16',
 '14',
 '14',
 '8',
 '16',
 '11',
 '15',
 '14',
 '8',
 '13',
 '11',
 '10',
 '13',
 '14',
 '10',
 '11',
 '7',
 '8',
 '14',
 '10',
 '12',
 '14',
 '12',
 '16',
 '16',
 '13',
 '9',
 '13',
 '17',
 '8',
 '17',
 '14',
 '13',
 '12',
 '7',
 '8',
 '7',
 '13',
 '12',
 '10',
 '11',
 '5',
 '11',
 '7',
 '8',
 '14',
 '8',
 '10',
 '8',
 '9',
 '16',
 '6',
 '6',
 '7',
 '5',
 '13',
 '6',
 '14',
 '10',
 '5',
 '5',
 '5',
 '3',
 '12',
 '12',
 '6',
 '13',
 '14',
 '2',
 '5',
 '6',
 '12',
 '15',
 '5',
 '16',
 '2',
 '11',
 '16',
 '6',
 '2',
 '3',
 '2',
 '15',
 '2',
 '14',
 '9',
 '10',
 '5',
 '13',
 '3',
 '5',
 '6',
 '14',
 '3',
 '2',
 '4',
 '3',
 '12',
 '4',
 '3',
 '1',
 '2',
 '8',
 '11',
 '4',
 '2',
 '1',
 '8',
 '7',
 '2',
 '1',
 '1',
 '2',
 '2',
 '9',
 '6',
 '2',
 '13',
 '17',
 '1',
 '13',
 '9',
 '17',
 '5',
 '1',
 '1',
 '2',
 '1',
 '14',
 '8',
 '4',
 '6',
 '2',
 '2',
 '2',
 '3',
 '3',
 '5',
 '9',
 '1',
 '6']

In [47]:
thead4 = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[4]')
inns = []
for i in thead4:
    inns.append(i.text)
inns

['17',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '14',
 '17',
 '14',
 '14',
 '12',
 '14',
 '14',
 '14',
 '14',
 '14',
 '12',
 '17',
 '14',
 '14',
 '16',
 '13',
 '12',
 '7',
 '16',
 '11',
 '15',
 '13',
 '8',
 '13',
 '11',
 '10',
 '11',
 '14',
 '10',
 '11',
 '7',
 '8',
 '12',
 '10',
 '10',
 '13',
 '11',
 '11',
 '12',
 '13',
 '9',
 '12',
 '12',
 '8',
 '14',
 '13',
 '10',
 '12',
 '7',
 '8',
 '7',
 '11',
 '8',
 '10',
 '10',
 '5',
 '11',
 '7',
 '8',
 '10',
 '8',
 '10',
 '7',
 '7',
 '8',
 '5',
 '6',
 '5',
 '5',
 '8',
 '5',
 '10',
 '5',
 '5',
 '5',
 '5',
 '3',
 '8',
 '7',
 '6',
 '8',
 '7',
 '2',
 '4',
 '5',
 '8',
 '8',
 '3',
 '8',
 '2',
 '10',
 '7',
 '4',
 '2',
 '2',
 '2',
 '5',
 '2',
 '6',
 '3',
 '6',
 '5',
 '4',
 '3',
 '3',
 '4',
 '6',
 '3',
 '1',
 '4',
 '3',
 '5',
 '2',
 '2',
 '1',
 '2',
 '5',
 '4',
 '2',
 '2',
 '1',
 '3',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '2',
 '3',
 '1',
 '2',
 '3',
 '1',
 '3',
 '3',
 '2',
 '4',
 '1',
 '1',
 '2',
 '1',
 '4',
 '1',
 '1',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '5',
 '1',
 '1']

In [46]:
not_out = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[5]')
no = []
for i in not_out:
    no.append(i.text)
no

['2',
 '3',
 '1',
 '4',
 '2',
 '9',
 '1',
 '2',
 '1',
 '0',
 '2',
 '3',
 '0',
 '1',
 '3',
 '1',
 '3',
 '4',
 '0',
 '0',
 '1',
 '1',
 '2',
 '3',
 '1',
 '10',
 '1',
 '8',
 '5',
 '1',
 '2',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '2',
 '0',
 '2',
 '6',
 '0',
 '3',
 '5',
 '2',
 '0',
 '0',
 '5',
 '3',
 '3',
 '4',
 '6',
 '1',
 '2',
 '1',
 '0',
 '3',
 '1',
 '0',
 '2',
 '1',
 '1',
 '0',
 '0',
 '2',
 '1',
 '4',
 '1',
 '0',
 '4',
 '2',
 '0',
 '0',
 '0',
 '2',
 '2',
 '2',
 '1',
 '0',
 '1',
 '2',
 '1',
 '2',
 '3',
 '3',
 '3',
 '6',
 '0',
 '2',
 '1',
 '4',
 '3',
 '1',
 '6',
 '1',
 '3',
 '0',
 '2',
 '0',
 '0',
 '0',
 '3',
 '0',
 '3',
 '2',
 '4',
 '1',
 '3',
 '1',
 '0',
 '2',
 '3',
 '0',
 '0',
 '0',
 '0',
 '5',
 '0',
 '0',
 '0',
 '0',
 '2',
 '4',
 '1',
 '0',
 '1',
 '2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '2',
 '0',
 '1',
 '2',
 '0',
 '1',
 '2',
 '1',
 '2',
 '1',
 '0',
 '0',
 '0',
 '3',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '1']

In [44]:
run = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[6]')
runs = []
for i in run:
    runs.append(i.text)
runs

['863',
 '616',
 '508',
 '487',
 '483',
 '481',
 '468',
 '460',
 '458',
 '451',
 '437',
 '432',
 '426',
 '418',
 '413',
 '401',
 '397',
 '381',
 '376',
 '368',
 '361',
 '341',
 '340',
 '335',
 '333',
 '330',
 '317',
 '314',
 '306',
 '303',
 '301',
 '289',
 '283',
 '274',
 '268',
 '258',
 '253',
 '252',
 '251',
 '250',
 '244',
 '234',
 '232',
 '230',
 '219',
 '217',
 '216',
 '206',
 '196',
 '191',
 '186',
 '183',
 '183',
 '182',
 '182',
 '174',
 '169',
 '161',
 '161',
 '161',
 '157',
 '156',
 '145',
 '144',
 '133',
 '129',
 '120',
 '117',
 '116',
 '108',
 '101',
 '91',
 '91',
 '88',
 '86',
 '86',
 '77',
 '73',
 '71',
 '69',
 '67',
 '63',
 '59',
 '58',
 '58',
 '55',
 '51',
 '48',
 '48',
 '46',
 '45',
 '44',
 '43',
 '43',
 '43',
 '40',
 '40',
 '38',
 '38',
 '37',
 '33',
 '33',
 '31',
 '30',
 '24',
 '24',
 '23',
 '23',
 '23',
 '22',
 '22',
 '22',
 '22',
 '21',
 '21',
 '19',
 '19',
 '18',
 '18',
 '18',
 '16',
 '14',
 '13',
 '12',
 '12',
 '11',
 '11',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '7',
 '7',
 '6',
 '6',
 '6',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1']

In [43]:
hs = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[7]')
high_score = []
for i in hs:
    high_score.append(i.text)
high_score

['116',
 '103*',
 '140*',
 '87*',
 '96',
 '94*',
 '96',
 '88*',
 '55',
 '59',
 '70',
 '92*',
 '75',
 '81*',
 '76',
 '85',
 '61',
 '68*',
 '54',
 '99',
 '57',
 '73',
 '44',
 '70*',
 '112*',
 '66*',
 '68',
 '59*',
 '64*',
 '68*',
 '55',
 '95*',
 '61',
 '78',
 '48',
 '68',
 '66',
 '87',
 '89',
 '67*',
 '93',
 '44',
 '50*',
 '88',
 '45',
 '43*',
 '57',
 '43',
 '52',
 '50',
 '46',
 '56*',
 '42',
 '42*',
 '50*',
 '42*',
 '36',
 '49',
 '54',
 '48*',
 '35',
 '38*',
 '65*',
 '25',
 '44',
 '66',
 '29*',
 '26',
 '26*',
 '43',
 '40',
 '40',
 '36*',
 '38',
 '42',
 '58',
 '25*',
 '55*',
 '22',
 '25*',
 '34',
 '56*',
 '19*',
 '26*',
 '16',
 '21',
 '25*',
 '25',
 '16*',
 '42',
 '14*',
 '22',
 '17',
 '11',
 '25',
 '17*',
 '39*',
 '15',
 '18',
 '21*',
 '17',
 '28',
 '17',
 '14*',
 '21',
 '8',
 '13*',
 '12',
 '8',
 '12',
 '12*',
 '14',
 '11',
 '10*',
 '15',
 '19',
 '13',
 '18',
 '7*',
 '18',
 '13',
 '14',
 '8',
 '6',
 '10*',
 '6*',
 '11',
 '9*',
 '8*',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '7*',
 '3*',
 '6',
 '4',
 '4*',
 '5',
 '5',
 '4*',
 '5',
 '2*',
 '4*',
 '4',
 '4',
 '4',
 '3*',
 '3*',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2*',
 '2',
 '1*',
 '1*',
 '1*']

In [42]:
avg = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[8]')
average = []
for i in avg:
    average.append(i.text)
average

['57.53',
 '51.33',
 '36.29',
 '44.27',
 '34.50',
 '68.71',
 '31.20',
 '38.33',
 '28.63',
 '32.21',
 '36.42',
 '48.00',
 '30.43',
 '32.15',
 '37.55',
 '30.85',
 '36.09',
 '47.63',
 '22.12',
 '26.29',
 '27.77',
 '22.73',
 '30.91',
 '37.22',
 '55.50',
 '55.00',
 '31.70',
 '44.86',
 '38.25',
 '43.29',
 '27.36',
 '28.90',
 '28.30',
 '24.91',
 '19.14',
 '25.80',
 '23.00',
 '42.00',
 '31.38',
 '25.00',
 '24.40',
 '29.25',
 '33.14',
 '20.91',
 '27.38',
 '31.00',
 '19.64',
 '22.89',
 '16.33',
 '27.29',
 '37.20',
 '16.64',
 '20.33',
 '45.50',
 '16.55',
 '34.80',
 '24.14',
 '23.00',
 '20.13',
 '23.00',
 '15.70',
 '19.50',
 '36.25',
 '14.40',
 '19.00',
 '16.13',
 '15.00',
 '16.71',
 '19.33',
 '18.00',
 '14.43',
 '22.75',
 '30.33',
 '14.67',
 '17.20',
 '17.20',
 '12.83',
 '24.33',
 '8.88',
 '17.25',
 '13.40',
 '15.75',
 '19.67',
 '29.00',
 '9.67',
 '13.75',
 '17.00',
 '9.60',
 '48.00',
 '23.00',
 '22.50',
 '11.00',
 '10.75',
 '8.60',
 '21.50',
 '20.00',
 '40.00',
 '5.43',
 '5.43',
 '18.50',
 '16.50',
 '16.50',
 '15.50',
 '15.00',
 '12.00',
 '8.00',
 '23.00',
 '11.50',
 '5.75',
 '22.00',
 '11.00',
 '7.33',
 '11.00',
 '7.00',
 '7.00',
 '19.00',
 '4.75',
 '6.00',
 '-',
 '9.00',
 '8.00',
 '14.00',
 '6.50',
 '4.00',
 '-',
 '11.00',
 '5.50',
 '-',
 '9.00',
 '8.00',
 '4.00',
 '8.00',
 '7.00',
 '7.00',
 '3.50',
 '7.00',
 '7.00',
 '6.00',
 '6.00',
 '6.00',
 '5.00',
 '2.50',
 '5.00',
 '5.00',
 '2.50',
 '-',
 '4.00',
 '2.00',
 '4.00',
 '4.00',
 '-',
 '3.00',
 '1.50',
 '2.00',
 '2.00',
 '1.00',
 '2.00',
 '-',
 '1.00',
 '0.50',
 '-',
 '-']

In [41]:
bf = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[9]')
ball_faced = []
for i in bf:
    ball_faced.append(i.text)
ball_faced

['579',
 '455',
 '341',
 '371',
 '365',
 '337',
 '367',
 '375',
 '312',
 '330',
 '240',
 '287',
 '320',
 '348',
 '261',
 '298',
 '303',
 '274',
 '306',
 '291',
 '251',
 '294',
 '224',
 '192',
 '218',
 '180',
 '259',
 '204',
 '212',
 '208',
 '178',
 '185',
 '185',
 '224',
 '223',
 '194',
 '175',
 '173',
 '189',
 '167',
 '177',
 '143',
 '188',
 '171',
 '181',
 '147',
 '231',
 '129',
 '160',
 '135',
 '86',
 '132',
 '145',
 '120',
 '169',
 '117',
 '138',
 '113',
 '130',
 '146',
 '138',
 '106',
 '114',
 '134',
 '128',
 '118',
 '87',
 '108',
 '98',
 '75',
 '69',
 '44',
 '67',
 '80',
 '57',
 '61',
 '68',
 '56',
 '40',
 '47',
 '59',
 '24',
 '37',
 '41',
 '44',
 '40',
 '44',
 '43',
 '52',
 '33',
 '40',
 '28',
 '28',
 '39',
 '48',
 '29',
 '37',
 '36',
 '43',
 '40',
 '44',
 '50',
 '27',
 '33',
 '19',
 '26',
 '16',
 '24',
 '26',
 '13',
 '24',
 '25',
 '27',
 '29',
 '30',
 '11',
 '35',
 '23',
 '26',
 '30',
 '18',
 '11',
 '13',
 '14',
 '18',
 '8',
 '14',
 '7',
 '7',
 '5',
 '7',
 '7',
 '5',
 '6',
 '6',
 '7',
 '8',
 '3',
 '6',
 '12',
 '3',
 '4',
 '7',
 '8',
 '13',
 '1',
 '4',
 '7',
 '8',
 '8',
 '5',
 '5',
 '7',
 '2',
 '2',
 '4',
 '5',
 '8',
 '8',
 '12',
 '2',
 '6']

In [40]:
sr = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[10]')
strike = []
for i in sr:
    strike.append(i.text)
strike

['149.05',
 '135.38',
 '148.97',
 '131.26',
 '132.32',
 '142.72',
 '127.52',
 '122.66',
 '146.79',
 '136.66',
 '182.08',
 '150.52',
 '133.12',
 '120.11',
 '158.23',
 '134.56',
 '131.02',
 '139.05',
 '122.87',
 '126.46',
 '143.82',
 '115.98',
 '151.78',
 '174.47',
 '152.75',
 '183.33',
 '122.39',
 '153.92',
 '144.33',
 '145.67',
 '169.10',
 '156.21',
 '152.97',
 '122.32',
 '120.17',
 '132.98',
 '144.57',
 '145.66',
 '132.80',
 '149.70',
 '137.85',
 '163.63',
 '123.40',
 '134.50',
 '120.99',
 '147.61',
 '93.50',
 '159.68',
 '122.50',
 '141.48',
 '216.27',
 '138.63',
 '126.20',
 '151.66',
 '107.69',
 '148.71',
 '122.46',
 '142.47',
 '123.84',
 '110.27',
 '113.76',
 '147.16',
 '127.19',
 '107.46',
 '103.90',
 '109.32',
 '137.93',
 '108.33',
 '118.36',
 '144.00',
 '146.37',
 '206.81',
 '135.82',
 '110.00',
 '150.87',
 '140.98',
 '113.23',
 '130.35',
 '177.50',
 '146.80',
 '113.55',
 '262.50',
 '159.45',
 '141.46',
 '131.81',
 '137.50',
 '115.90',
 '111.62',
 '92.30',
 '139.39',
 '112.50',
 '157.14',
 '153.57',
 '110.25',
 '89.58',
 '137.93',
 '108.10',
 '105.55',
 '88.37',
 '92.50',
 '75.00',
 '66.00',
 '114.81',
 '90.90',
 '126.31',
 '92.30',
 '143.75',
 '95.83',
 '88.46',
 '169.23',
 '91.66',
 '88.00',
 '81.48',
 '72.41',
 '70.00',
 '172.72',
 '54.28',
 '78.26',
 '69.23',
 '60.00',
 '88.88',
 '127.27',
 '100.00',
 '85.71',
 '66.66',
 '137.50',
 '78.57',
 '128.57',
 '128.57',
 '160.00',
 '114.28',
 '114.28',
 '140.00',
 '116.66',
 '116.66',
 '100.00',
 '87.50',
 '200.00',
 '100.00',
 '50.00',
 '166.66',
 '125.00',
 '71.42',
 '62.50',
 '38.46',
 '400.00',
 '100.00',
 '57.14',
 '50.00',
 '50.00',
 '60.00',
 '60.00',
 '42.85',
 '100.00',
 '100.00',
 '50.00',
 '40.00',
 '25.00',
 '25.00',
 '16.66',
 '50.00',
 '16.66']

In [56]:
hd = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[11]')
hund = []
for i in hd:
    hund.append(i.text)
hund

['4',
 '2',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [60]:
fif = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[12]')
fifty = []
for i in fif:
    fifty.append(i.text)
fifty

['4',
 '4',
 '3',
 '4',
 '4',
 '2',
 '3',
 '3',
 '2',
 '4',
 '4',
 '5',
 '2',
 '3',
 '3',
 '3',
 '2',
 '3',
 '1',
 '3',
 '2',
 '2',
 '0',
 '1',
 '2',
 '1',
 '3',
 '1',
 '2',
 '3',
 '1',
 '2',
 '2',
 '1',
 '0',
 '2',
 '2',
 '3',
 '2',
 '1',
 '1',
 '0',
 '1',
 '2',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [59]:
four = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[13]')
four_4 = []
for i in four:
    four_4.append(i.text)
four_4

['83',
 '45',
 '47',
 '49',
 '51',
 '32',
 '49',
 '47',
 '43',
 '36',
 '29',
 '52',
 '47',
 '45',
 '40',
 '41',
 '29',
 '25',
 '40',
 '33',
 '29',
 '32',
 '35',
 '18',
 '27',
 '27',
 '40',
 '21',
 '16',
 '23',
 '31',
 '22',
 '37',
 '25',
 '28',
 '28',
 '34',
 '22',
 '19',
 '10',
 '24',
 '22',
 '21',
 '19',
 '14',
 '22',
 '16',
 '16',
 '23',
 '14',
 '12',
 '11',
 '16',
 '12',
 '17',
 '17',
 '9',
 '14',
 '11',
 '11',
 '23',
 '7',
 '14',
 '6',
 '14',
 '10',
 '7',
 '4',
 '6',
 '14',
 '9',
 '3',
 '9',
 '9',
 '7',
 '10',
 '7',
 '8',
 '6',
 '5',
 '7',
 '5',
 '4',
 '2',
 '2',
 '4',
 '1',
 '5',
 '3',
 '4',
 '3',
 '3',
 '3',
 '4',
 '5',
 '2',
 '3',
 '1',
 '4',
 '4',
 '1',
 '1',
 '3',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '2',
 '1',
 '3',
 '3',
 '2',
 '1',
 '1',
 '4',
 '1',
 '3',
 '1',
 '2',
 '1',
 '1',
 '2',
 '0',
 '1',
 '2',
 '0',
 '0',
 '2',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [62]:
s = driver.find_elements('xpath','//*[@id="battingTAB"]/table/tbody/tr/td[14]')
six = []
for i in s:
    six.append(i.text)
six

['45',
 '30',
 '23',
 '12',
 '11',
 '23',
 '13',
 '12',
 '26',
 '18',
 '34',
 '15',
 '13',
 '11',
 '20',
 '11',
 '16',
 '19',
 '14',
 '14',
 '22',
 '8',
 '16',
 '32',
 '18',
 '22',
 '7',
 '21',
 '21',
 '16',
 '15',
 '16',
 '10',
 '15',
 '13',
 '10',
 '9',
 '12',
 '14',
 '22',
 '11',
 '12',
 '10',
 '14',
 '9',
 '9',
 '8',
 '13',
 '6',
 '9',
 '16',
 '10',
 '4',
 '10',
 '7',
 '7',
 '10',
 '11',
 '7',
 '7',
 '2',
 '13',
 '3',
 '9',
 '4',
 '7',
 '7',
 '9',
 '5',
 '3',
 '3',
 '9',
 '2',
 '2',
 '4',
 '3',
 '4',
 '3',
 '6',
 '4',
 '2',
 '6',
 '3',
 '5',
 '6',
 '4',
 '5',
 '2',
 '2',
 '2',
 '1',
 '3',
 '3',
 '2',
 '0',
 '1',
 '1',
 '3',
 '1',
 '2',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '3',
 '0',
 '2',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [64]:
dict={'Player':player,"Mat":mat,"Inns":inns,'NO':no,'Runs':runs,'HS':high_score,'Avg':average,'BF':ball_faced,'SR':strike,'100':hund,'50':fifty,'4s':four_4,'6s':six}

In [65]:
df=pd.DataFrame(dict)

In [68]:
df.tail(10)

                  Player Mat Inns NO Runs  HS   Avg  BF      SR 100 50 4s 6s
152          Shivam Mavi   6    3  1    3   2  1.50   7   42.85   0  0  0  0
153         Harshit Rana   2    2  1    2   2  2.00   2  100.00   0  0  0  0
154        Navdeep Saini   2    1  0    2   2  2.00   2  100.00   0  0  0  0
155       Tristan Stubbs   2    2  0    2   2  1.00   4   50.00   0  0  0  0
156      Pradeep Sangwan   3    1  0    2   2  2.00   5   40.00   0  0  0  0
157     Fazalhaq Farooqi   3    1  1    2  2*     -   8   25.00   0  0  0  0
158   Jagadeesha Suchith   5    2  0    2   2  1.00   8   25.00   0  0  0  0
159          Tim Southee   9    5  1    2  1*  0.50  12   16.66   0  0  0  0
160  Nathan Coulter-Nile   1    1  1    1  1*     -   2   50.00   0  0  0  0
161        Anrich Nortje   6    1  1    1  1*     -   6   16.66   0  0  0  0

In [67]:
df.to_csv('IPL 2022 DataSet.csv',index=False)

In [69]:
df

,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,Jos Buttler,17,17,2,863,116,57.53,579,149.05,4,4,83,45
1,K L Rahul,15,15,3,616,103*,51.33,455,135.38,2,4,45,30
2,Quinton De Kock,15,15,1,508,140*,36.29,341,148.97,1,3,47,23
3,Hardik Pandya,15,15,4,487,87*,44.27,371,131.26,0,4,49,12
4,Shubman Gill,16,16,2,483,96,34.50,365,132.32,0,4,51,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Fazalhaq Farooqi,3,1,1,2,2*,-,8,25.00,0,0,0,0
158,Jagadeesha Suchith,5,2,0,2,2,1.00,8,25.00,0,0,0,0
159,Tim Southee,9,5,1,2,1*,0.50,12,16.66,0,0,0,0
160,Nathan Coulter-Nile,1,1,1,1,1*,-,2,50.00,0,0,0,0
161,Anrich Nortje,6,1,1,1,1*,-,6,16.66,0,0,0,0